.modal {
    &__reward {
        @apply py-8 bg-white border border-gray-300 rounded-md transition-all duration-300 ease-in-out my-4 cursor-pointer;
        &--header {
            @apply flex flex-row w-full items-center px-4;
        }
        &--info {
            @apply flex md:flex-row flex-col ml-5 w-full;
        }
        &--title {
            @apply font-extrabold;
        }
        &--amount {
            @apply md:ml-auto md:mt-0 mt-1 text-cyan text-sm font-medium;
        }
        &.selected {
            @apply ring-2 ring-cyan-dark;
        }
        &--radio {
            content: "";
            @apply w-5 h-5 rounded-full border border-gray-300 transition-all duration-300 ease-in-out;
            &::after {
                content: "";
                @apply w-2.5 h-2.5 bg-cyan  rounded-full block absolute left-1/2 top-1/2 transform scale-0 -translate-x-1/2 -translate-y-1/2;
            }
            &.selected {
                @apply relative;
                &::after {
                    @apply transform scale-100 -translate-x-1/2 -translate-y-1/2 transition-all duration-300 ease-in-out;
                }
            }
        }
        &--content {
            @apply mt-5 px-4;
        }
        &--description {
            @apply text-gray-dark text-sm leading-relaxed font-medium;
        }
        &--left {
            @apply mt-5;
            span:first-child {
                @apply font-extrabold text-xl;

                + span {
                    @apply text-gray-dark ml-2 font-medium;
                }
            }
        }
        &--input {
            @apply border-t border-gray-300 mt-5 px-4 flex items-center md:flex-row flex-col;

            .amount {
                &--input {
                    @apply rounded-full w-full  mr-2 focus:outline-none focus:ring-2 focus:ring-cyan focus:border-none px-4 appearance-none;
                }
				&--error{
					@apply focus:ring-2 focus:ring-red-500 ring-2 ring-red-500;
				}
            }
        }
        &.disabled {
            @apply opacity-50 cursor-not-allowed;
        }
    }
}
